<div class="jumbotron">

<h1><a href="/">Welcome to The Train Station</a></h1>

<h3> Please choose passenger or employee</h3>
<br>

<form action="/home_rider">
<button type="submit" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"> Passengers</span>
</button>
</form>

<br>
<br>

<form action="home_operator">
<button type="submit" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"> Employees</span>
</button>
</form>
</div>
